<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Database</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/create_pokemon">Create Pokemon</a>
        </nav>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>