{% extends 'base.html' %}
{% block content %}


<form method="POST">
  <h1>Edit a Pokemon</h1>
  <legend>You can edit this Pokemon's details below:</legend>
  {{ form.csrf_token }}
  
  {{ form.id.label}}
  {{ form.id }}
  
  {{ form.name.label}}
  {{ form.name }}
  
  {{ form.category.label}}
  {{ form.category }}
  
  {{ form.artwork.label}}
  {{ form.artwork }}
  
  {{ form.attack.label}}
  {{ form.attack }}
  
  {{ form.defense.label}}
  {{ form.defense }}
  
  {{ form.hp.label}}
  {{ form.hp }}
  
  <input type="submit" value="Update Pokemon">
</form>

{% endblock %}