{% extends 'base.html' %}
{% block content %}

<h1>Edit a Pokemon</h1>

<form method="POST">
  <legend>You can edit this Pokemon's details below:</legend>
  {{ form.csrf_token }}
  
  {{ form.id.label}}
  {{ form.id }}
  <br>
  {{ form.name.label}}
  {{ form.name }}
  <br>
  {{ form.category.label}}
  {{ form.category }}
  <br>
  {{ form.artwork.label}}
  {{ form.artwork }}
  <br>
  {{ form.height.label}}
  {{ form.height }}
  <br>
  {{ form.weight.label}}
  {{ form.weight }}
  
  <input type="submit" value="Update Pokemon">
</form>

{% endblock %}