{% extends 'base.html' %}
{% block content %}

  <h1>PokeDB</h1>
  <p>Welcome to PokeTeam Tracker!</p>
  <div id="homepage-container">
    {% if current_user.is_authenticated %}
    <div class="pokemon">
        {% for poke in pokemon %}
        <div id="poke-grid">
          <h2>{{ poke.name.capitalize() }}</h2>
          <a href="/pokemon/{{ poke.id }}"><img src="{{ poke.artwork }}" alt="{{ poke.name }}"></a>
        </div>
        {% endfor %}
    </div>
    <div class="item">
      {% for item in items %}
        <div id="item-grid">
          <h2>{{ item.name.capitalize() }}</h2>
          <a href="/item/{{ item.id }}"><img src="{{ item.artwork }}" alt="{{ item.name }}"></a>
        </div>
        {% endfor %}
    </div>
    </div>
      {% else %}
      <div id="homepage-logout-container">
        <div class="potd">
          <h1>Pokemon of the day:</h1>
          <h2>{{ potd.name.capitalize() }}</h2>
          <a href="/pokemon/{{ potd.id }}"><img src="{{ potd.artwork }}" alt="{{ potd.name }}"></a>
          <p>Type: {{ potd.category }}</p>
          <p>Attack: {{ potd.attack }}</p>
          <p>Defense: {{ potd.defense }}</p>
        </div>
        <div class="iotd">
          <h1>Item of the day:</h1>
          <h2>{{ iotd.name.capitalize() }}</h2>
          <a href="/item/{{ iotd.id }}"><img src="{{ iotd.artwork }}" alt="{{ iotd.name }}"></a>
          <p>Price: {{ iotd.price }}</p>
          <p>{{ iotd.description }}</p>
        </div>
    </div>
  {% endif %}
{% endblock %}